.container{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
 #log{
    margin-left:45%;
    padding-top:200px;
}
.welcome{
    text-align: center;
    color:white;
}
/* .del{
    text-align:center;
    color:white;
}
.amazing{
    text-align: center;
    color:white; */
/* } */
.mouse{
    /* margin-left:85vh;
    padding-top: 85px; */
    padding-top: 140px;
    padding-left: 580px;
}