.home{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
 #delani{
    margin-left:45%;
    padding-top:200px;
}
.welcome{
    text-align: center;
    color:white;
}
/* .del{
    text-align:center;
    color:white;
}
.amazing{
    text-align: center;
    color:white; */
/* } */
.mouse{
    /* margin-left:85vh;
    padding-top: 85px; */
    padding-top: 140px;
    padding-left: 580px;
}
.aboutus{
    text-align: center;

}
.services{
    background-image: url('../assets/backgrounds/s_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:whitesmoke;
    text-align: center;
    height:450px;
}
.services h1{
     padding-top: 150px;
     font-weight: bolder;
}
 .whatwedo{
     text-align: center;
     padding-top:30px;
     font-weight: bolder;
     /* font-size: 30px; */
 }
 .whatwedo p{
     display:none;
 }
 .whatwedo img,p{
     cursor:pointer;
 }
 .whatwedo h1{
     font-size: 20px;
     font-weight: bolder;
 }
 .whatwedo h2{
     font-size:15px;
 }
 .whatwedo row{
     display: flex;
     justify-content: space-between;
     margin-right: 100px;
     margin-left: 100px;
     margin-top:100px;
 }
.one h1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
}
.one .row{
    display:flex;
    justify-content: space-around;
    margin-right:100px;
    margin-left: 100px;
}
.one img{
    display:block;
}
.one p{
    text-align: center;
    display: none;
    position: absolute;
    font-size: 40px;
    padding-top: 80px;
    padding-left:40px;
}
.contactus{
    background-image: url('../assets/backgrounds/c_image.jpg');
    height:500px;
    margin-top: 100px;
    margin-left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactus h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0;
    color: white;
}
.contactus input,textarea{
    background: none;
    color:white;
}
#contactus input::placeholder{
    color:white;
}
.contactus textarea{
    margin-left:150px;
    margin-top:20px;
    /* margin-right: 100px; */
}
/* .contactus input{
    margin-left: 300px;
    margin-top: 40px;
} */
#email{
    position: relative;
    margin-right:200px;
    margin-left:-90px;
    width:300px;

}
#name{
    width:300px;
    margin-left:150px;
}
 /* button{
    position:relative;
    top:40px;
    right:400px;
} */
.socialicons{
    margin-top: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: unset;
}
#footer p{
    text-align: center;
   
}
button{
    text-align: center;
    margin-top: 20px;
}